.clickable {
    cursor: pointer;
    color: #007bff;
}

.loadingIndicator {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: fadein 1s;
}

.dsaThumb {
    display: block;
    /*margin: auto; don't center thumbnail */
    height: 100px;
    padding: 2px;
    /*border: 1px solid #999;*/
}
