.breadcrumb {
    background-color: transparent !important;
    margin-left: -14px;
}

.bg-nav-purple {
    background: #5f018c;
}

.card-custom-style img {
    width: 200px !important;
    height: 200px !important;
}

