$primary-background: #4a6cbd;
$darkgreen: #24cad5;
$border-color: #e2e2e2;
$input-border: $border-color;
$input-group-addon-border-color: $border-color;
$nav-tabs-border-color: $border-color;
$nav-tabs-link-active-border-color: $border-color $border-color #fff;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

// data table column alignment workaround

.atlasTab #column-num_cases,
.atlasTab #column-num_biospecimens {
    margin-left: auto !important;
}

// customizes

.rdt_TableHeadRow {
    border-bottom-color: $border-color !important;
}

.rdt_TableRow {
    border-bottom-width: 0 !important;
}

.breadcrumb {
    background-color: transparent !important;
    margin-left: -14px;
}

.navbar-brand {
    img {
        filter: invert(100%);
        width: 60px !important;
    }
}

.react-select__control {
    border-color: $border-color !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;

    #pageWrapper {
        min-height: 100vh;
        padding-bottom: 40px;
        position: relative;

        footer.pageFooter {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            color: #333;
            a {
                text-decoration: none;
                color: #333;
            }
        }
    }
}

a {
    color: #00008b;
}

h1 {
    font-size: 2rem;
    color: $darkgreen;
}

h2,
h3,
h4 {
    font-size: 1.5rem;
    color: $darkgreen;
    border-top: 1px dashed $border-color;
    padding-top: 20px;
    width: 100%;

    &:first-of-type {
        padding-top: 0;
        border-top: none;
        margin-top: 10px;
    }

    margin-top: 40px;
}

.jumbotron {
    //background-image: url("https://humantumoratlas.org/wp-content/uploads/2019/06/Vanderbilt-PCA-project-image.jpg");

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
        url('https://www.grayfoundation.org/wp-content/uploads/2018/02/basser-slider-2-copy-1.jpg');
    //background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.card-custom-style img {
    width: 200px !important;
    height: 200px !important;
}

.atlas-link {
    white-space: nowrap;
}

// bootstrap overrides
.btn-primary {
    background-color: $primary-background;
    border-color: $primary-background;
}

.main-nav {
    border-bottom: 1px solid $border-color;
    border-top: 4px solid $darkgreen;
    padding: 5px 20px;
    background: rgb(250, 251, 252);
    .nav-link {
        color: #333 !important;
        padding: 0 1.5em !important;
        font-weight: bold;
        text-transform: uppercase;
        //text-shadow:0 0 4px #000;
        font-size: 13px;
    }
}

.tab-pane {
    margin-top: 20px;

    p {
        line-height: 2em;
    }
}

.dataTables_wrapper {
    .rdt_TableHeader {
        min-height: 0;
    }

    .rdt_TableCol {
        font-size: 16px;
        font-weight: bold;
    }

    .rdt_TableCell {
        font-size: 16px;
        padding: 20px;
    }
}

table {
    th,
    td {
        line-height: 1em;
    }
}

.single_cell-iframe-wrapper {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 88px;
    iframe {
        border: none;
        height: 100%;
        width: 100%;
    }
}

#iframe-wrapper {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    top: 88px;

    .loading-animation {
        position: absolute;
        top: 100px;
        left: 50%;
        z-index: 0;
    }

    iframe {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 10;
    }
    &:empty {
        display: none;
    }
    background: #fff;
}

.rc-tooltip {
    max-width: 250px;
    opacity: 1 !important;
}

.button-dropdown {
    min-width: 105px;
}

.col-select-card {
    position: absolute;
    width: 18rem;
    margin-top: 10px;
}

.col-select-card-wrapper {
    display: flex;
    justify-content: flex-end;
}

.tab-pane table {
    font-size: 14px;
}

.dsa-container {
    /*border: 1px solid #999;*/
    width: 150px;
}

.dsa-full-image {
    /* TODO: this is max 200px because rc-tooltip is max 250px. Might be nicer to
     * show bigger image */
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 3px;
}

.dsa-thumb {
    display: block;
    /*margin: auto; don't center thumbnail */
    height: 100px;
    padding: 2px;
    /*border: 1px solid #999;*/
}

.filterControls {
    display: flex;
    margin-bottom: 20px;
    > div {
        margin-right: 24px;
        display: flex;
        align-items: center;
        select {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

.explorePageWrapper {
    position: relative;
    padding: 20px;

    .summary {
        display: flex;
        z-index: -1;
        margin-bottom: 10px;
        justify-content: flex-end;
        margin-bottom: -17px;
        position: relative;
        font-size: 13px;
        top: 12px;

        > div {
            padding: 0 10px;
            border-right: 1px dashed #eee;

            &:first-child {
                padding-left: 0px;
                border-right: none;
            }
        }
    }

    .filter {
        padding-bottom: 15px;

        > * {
            margin-right: 6px;
            border-radius: 4px;
            padding: 5px 10px;
        }

        > .logicalOr,
        > .logicalAnd {
            background: green;
            color: #fff;
            color: lightsalmon;
        }

        .attributeGroup {
            color: #fff;
            background: darkcyan;

            .attributeGroupName {
                font-weight: bold;
                &:hover {
                    text-decoration: line-through;
                    cursor: pointer;
                }
            }

            .logicalOr,
            .logicalAnd {
                font-weight: bold;
                color: lightsalmon;
            }

            .logicalParentheses {
                padding-left: 4px;
                padding-right: 4px;
            }

            .attributeValue {
                padding-left: 4px;
                padding-right: 4px;

                &:hover {
                    text-decoration: line-through;
                    cursor: pointer;
                }
            }
        }
    }

    .clearFilterButton {
        background: #eee;
        cursor: pointer;
    }
}

.subnav {
    margin-bottom: 20px;
    .nav-item {
        cursor: pointer;
    }
}

.container {
    margin-left: 20px !important;
}

.filter-checkbox-list-container {
    display: flex;

    > div {
        margin-right: 20px;
        min-width: 300px;
    }
}

.btn-disabled {
    opacity: 0.2 !important;
    cursor: not-allowed;
}

.show-all-checkbox {
    float: left;

    & input {
        margin-right: 10px;
    }
}
