$primary-background:#5f018c;

.breadcrumb {
    background-color: transparent !important;
    margin-left: -14px;
}

body {
    font-family:"Montserrat",sans-serif !important;
}

.bg-nav-purple {
    background: $primary-background;
}

.card-custom-style img {
    width: 200px !important;
    height: 200px !important;
}

.atlas-link {
    white-space: nowrap;
}

// bootstrap overrides
.btn-primary {
    background-color:$primary-background;
    border-color:$primary-background;
}


.main-nav {

    .nav-link {
        color:#fff !important;
        padding:0 1.5em !important;
        font-weight:bold;
        text-transform: uppercase;
        text-shadow:0 0 4px #000;
        font-size:13px;
    }

}

.tab-pane {
    margin-top:20px;
    line-height:2em;
}
